name: TestCond

# Controls when the action will run. 
on:
  workflow_dispatch:
  push:
    paths:
      - '**/workflows/testcond.yml'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [ 8, 11 ]

    env:
      argLine: -Dx=y
    steps:
    - name: argline
      run: |
        echo $argLine - ${{ matrix.java }} - ${{ env.argline }}
      env:
        argLine: -DargLine="--illegal-access=deny"
      if: ${{ matrix.java != '8' }}
    # - name: one
    #   run: echo 1 $argLine ${{ matrix.os }}
    #   if: always()
    # - name: two
    #   run: echo "2 $argLine ${{ matrix.os }}"
    #   if: always()
    - name: three
      run: echo 3 ${{ env.argLine }} ${{ matrix.os }} ${{ job.build.argline.env.argLine }}
      if: always()
