# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: x64
      - uses: leafo/gh-actions-lua@v8.0.0
        with: luaVersion: "5.2.4"
      - name: Lunar
        run: |
          lua -v
      - name: Echoes
        run: |
          echo +"1: %s"
          echo +"1a: %s" >&2
          echo +"2: %s"
          echo +"2a: %s" >&2
          echo +"3: %s"
          echo +"3a: %s" >&2
          echo +"4: %s"
          echo +"4a: %s" >&2

      - name: Dates
        run: |
          date +"1: %s"
          date +"1a: %s" >&2
          date +"2: %s"
          date +"2a: %s" >&2
          date +"3: %s"
          date +"3a: %s" >&2
          date +"4: %s"
          date +"4a: %s" >&2

      - name: Python
        run: |
          cat main.py
          echo ""
          cat sub.py
          echo ""
          ./main.py